<div class="bodyDiv">
    <div class="mainFormDiv">
        <div class="formHeading"><img class="formHeadingLogo" src="../../../assets/logo.png" alt="logo Display"></div>
        <div class="formDiv">
            <form [formGroup]="emailVerificationForm" (ngSubmit)="onFormSubmit(emailVerificationForm.value)">
                <input type="text" ngModel formControlName="email">
                <div class="error" *ngIf="emailVerificationForm.get('email').hasError('required') && emailVerificationForm.get('email').touched">Email is required</div>
                <div class="error" *ngIf="emailVerificationForm.get('email').hasError('pattern') ">Enter valid Email</div>
                <button [disabled]="emailVerificationForm">LOGIN</button>
            </form>
            <p class="newUser">Login <a routerLink="/login" routerLinkActive="activebutton">here...</a></p>
        </div>
    </div>
</div>