<div class="bodyDiv">
    <div class="mainFormDiv">
        <div class="formHeading"><img class="formHeadingLogo" src="../../../assets/logo.png" alt="logo Display"></div>
        <div class="formDiv">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onFormSubmit()">
                <input type="password" ngModel placeholder="Enter new Password*" formControlName="password"><br>
                <div class="error " *ngIf="resetPasswordForm.get( 'password').hasError( 'pattern') ">Confirm password must be atleast 8 characters with one uppercase ,lowercase,symbol and number</div>
                <div class="error" *ngIf="resetPasswordForm.get('password').hasError('required') && resetPasswordForm.get('password').touched">*required.</div>
                <input type="password" ngModel placeholder="Confirm Password*" formControlName="confirmPassword"><br>
                <div class="error" *ngIf="resetPasswordForm.get('password').hasError('required') && resetPasswordForm.get('confirmPassword').touched">*required.</div>
                <div class="error " *ngIf="(resetPasswordForm.get( 'password').value) !==( resetPasswordForm.get( 'confirmPassword').value) && resetPasswordForm.get( 'confirmPassword').dirty ">password and confirmpassword missmatch.</div>

                <button [disabled]="resetPasswordForm.invalid">Submit</button>
            </form>

            <p class="newUser">Login <a routerLink="/login" routerLinkActive="activebutton">here...</a></p>
        </div>
    </div>
</div>